.idea/
*autosave
cmake-build-debug/
*pro.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



build-kobuki_project-Desktop-Default/

kobuki_build/CMakeFiles/3\.10\.2/

kobuki_build/

kobuki_project/CMakeLists\.txt\.user

kobuki_project/cmake-build-release/
